<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口的全路径，用于关联dao层接口-->
<mapper namespace="com.jxd.studentmanager.mapper.IAppraiseMapper">

    <insert id="addAppraise" >
       insert into appraise(content,sid,eid,type,sumscore) values(" ",(select sid from student where eid = #{eid}),#{eid},#{type},0)
    </insert>

    <select id="getAppraise" resultType="String">
        select content from appraise where
         sid = (select sid from student where eid = #{eid})
         and type =#{type}
    </select>

    <update id="updateApp">
        update appraise set content = #{content} where sid = #{sid} and type = #{type}
    </update>

    <update id="updateApp02">
        update appraise set sumscore = #{sumscore} where sid = #{sid} and type = #{type}
    </update>

    <select id="getSumscore" resultType="Double">
        select sumscore from appraise where eid = #{eid} and type = #{type}
    </select>

</mapper>