<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口的全路径，用于关联dao层接口-->
<mapper namespace="com.jxd.studentmanager.mapper.ICourseMapper">
    <select id="selectCoursesByTid" resultType="Course">
        select c.cid,cname,isdel,type from course c left join termcourse tc on c.cid = tc.cid
        <where>
            <if test="cname != null and cname != ''">
                cname like concat('%',#{cname},'%')
            </if>
            <if test="tid != 0">
                and tc.tid = #{tid}
            </if>
            <if test="isdel != 2">
                and isdel = #{isdel}
            </if>
        </where>
        <if test="pageStart != 0 and pageSize != 0">
            limit #{pageStart},#{pageSize}
        </if>

    </select>

    <select id="selectCoursesByDid" resultType="Course">
        select c.cid,cname,isdel,type from course c left join on deptcourse dc on c.cid = dc.cid
        where isdel = 0 and dc.did = #{did}
    </select>
</mapper>