<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口的全路径，用于关联dao层接口-->
<mapper namespace="com.jxd.studentmanager.mapper.IStudentScoreMapper">
    <resultMap id="abilities" type="java.util.Map">
        <!--property代表实体类属性名称-->
        <!--column代表数据库字段名称-->
        <!--id标签用于设置主键-->
        <id property="ssid" column="ssid"/>
        <result property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <result property="score" column="score"/>
        <result property="dname" column="dname"/>
        <result property="ename" column="ename"/>
    </resultMap>
    <resultMap id="courses" type="java.util.Map">
        <!--property代表实体类属性名称-->
        <!--column代表数据库字段名称-->
        <!--id标签用于设置主键-->
        <id property="ssid" column="ssid"/>
        <result property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <result property="score" column="score"/>
        <result property="tname" column="tname"/>
        <result property="ename" column="ename"/>
    </resultMap>

    <select id="selectCourses" resultMap="courses">
        select t3.*,c.cname from
        (select t2.*,e.ename from
        (select t1.*,t.tname,t.eid from
        (select ss.ssid,ss.cid,ss.score,ss.sid,s.tid from studentscore ss
        left join student s on s.sid = ss.sid where ss.sid = #{sid} and ss.type=-1 )
         t1 left join term t on t1.tid = t.tid) t2 left
        join emp e on t2.eid = e.eid) t3 left join course c on c.cid = t3.cid
    </select>

    <select id="selectAbilities" resultMap="abilities">
        select t1.*,e.ename from
        (select ss.*,c.cname from studentscore ss left join
        course c on c.cid=ss.sid where sid = #{sid} and ss.type = #{type}) t1
        left join emp e on e.eid = t1.eid
    </select>

</mapper>